.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App h1 {
  margin: 10px 0;
  font-size: 1.5em;
}

.App .chat-area {
  width: 500px;
  height: 430px;
}

.chat-area textarea {
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow: auto;
  resize: none;
  outline: none;
  box-sizing: border-box;
}

.App .input-area {
  width: 500px;
  height: 80px;
  background: white;
  margin-top: 10px;
}

.input-area textarea {
  width: 100%;
  height: 40px;
  font-size: 16px;
  overflow: auto;
  resize: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.input-area .input-button {
  width: 100%;
  height: 30px;
}

.input-button button {
  width: 80px;
  height: 30px;
  color: green;
  float: right;
  padding: 0;
  margin: 0 20px;
  border: none;
  background: rgb(210, 210, 210);
}